/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .hidden-scrollbar {
    scrollbar-width: none; /* Hide scrollbar */
  }
  
  /* Hide scrollbar for IE, Edge */
  .hidden-scrollbar {
    -ms-overflow-style: none; /* Hide scrollbar */
  }
  